body {
  background: url("../images/golfimage2.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  font-family: cursive;
}

div {
  width: 333px;
  height: 333px;
  margin: 5px;
  border: 3px solid black;
}

#navbar {
  width: auto;
  height: 50px;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 30px;
  font-family: arial;
  shape-margin: 10px;
}

#default {
  float: left;
}
#me {
  float: left;
}
li {
  float: left;
}

#group{
  width: 1500px;
  height: 700px;
  padding:15px;
  border: 0px;
}

#fav {
  float: left;
}

#equip{
  float: left;
}

#gear {
  float: right;
}
#players {
  float: right;
}

#about {
  width: 700px;
  height: 700px;
  float: left;
}

#other {
  width: 700px;
  height: 700px;
  float: right;
}

h1{
  text-align: center;
  font-size: 70px;
}
p {
  text-align: center;
  font-size: 30px;
}

h3 {
  font-weight: bold;
}
